---
- name: Update SSH configuration to be more secure
  ansible.builtin.lineinfile:
    dest: /etc/ssh/sshd_config
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    backrefs: true
    validate: "sshd -f %s -T"
  become: true
  with_items:
    - regexp: "^HostKey /etc/ssh/ssh_host_dsa_key"
      line: "#HostKey /etc/ssh/ssh_host_dsa_key"
    - regexp: "^HostKey /etc/ssh/ssh_host_ecdsa_key"
      line: "#HostKey /etc/ssh/ssh_host_ecdsa_key"
    - regexp: "^#?HostKey /etc/ssh/ssh_host_rsa_key"
      line: "HostKey /etc/ssh/ssh_host_rsa_key"
    - regexp: "^#?HostKey /etc/ssh/ssh_host_ed25519_key"
      line: "HostKey /etc/ssh/ssh_host_ed25519_key"
    - regexp: "^#?PermitRootLogin"
      line: "PermitRootLogin {{ 'yes' if permit_root_login else 'no' }}"
    - regexp: "^#?PermitEmptyPasswords"
      line: "PermitEmptyPasswords no"
    - regexp: "^#?ClientAliveInterval"
      line: "ClientAliveInterval 300"
    - regexp: "^#?ClientAliveCountMax"
      line: "ClientAliveCountMax 2"
    - regexp: "^#?TCPKeepAlive"
      line: "TCPKeepAlive no"
    - regexp: "^#?PerSourceMaxStartups"
      line: "PerSourceMaxStartups 1"
    - regexp: "^#MaxStartups"
      line: "MaxStartups 10:30:100"
    - regexp: "^#?AllowGroups"
      line: "AllowGroups sshusers"
  notify:
    - Restart SSH
- name: Disable password login
  block:
    - name: Check public file exists
      ansible.builtin.stat:
        path: .ssh/authorized_keys
      register: authorized_keys
    - name: Disable root
      ansible.builtin.lineinfile:
        dest: /etc/ssh/sshd_config
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        backrefs: true
        validate: "sshd -f %s -T"
      become: true
      with_items:
        - regexp: "^#PasswordAuthentication"
          line: "PasswordAuthentication no"
        - regexp: "^#?PubkeyAuthentication"
          line: "PubkeyAuthentication yes"
      when: authorized_keys.stat.exists
- name: Restrict key exchange, cipher, and MAC algorithms, as per sshaudit.com
  ansible.builtin.copy:
    src: "{{ role_path }}/files/ssh-audit_hardening.conf"
    dest: /etc/ssh/sshd_config.d/ssh-audit_hardening.conf
    owner: root
    group: root
    mode: "0600"
    validate: sshd -f %s -T
    checksum: de48fbe6da31271b2e962d1dd4a0090285ac9431
  when: restrict_key_exchange
  notify:
    - Restart SSH
- name: Guide forward setting
  block:
    - name: Disable gui forward
      ansible.builtin.lineinfile:
        dest: /etc/ssh/sshd_config
        regexp: "#?X11Forwarding"
        line: "X11Forwarding no"
        validate: "sshd -f %s -T"
        firstmatch: true
      become: true
      when: not X11Forwarding
      notify:
        - Restart SSH
    - name: Enable gui forward
      ansible.builtin.lineinfile:
        dest: /etc/ssh/sshd_config
        regexp: "^#?X11Forwarding"
        line: "X11Forwarding yes"
        validate: "sshd -f %s -T"
        firstmatch: true
      become: true
      when: X11Forwarding
      notify:
        - Restart SSH
