---
# - name: set sudo permission
#   become: true
#   lineinfile:
#     path: /etc/ssh/sshd_config
#     state: present
#     line: 'UseDNS no'
- name: Set sudo permission
  become: true
  when: no_sudo_pass
  community.general.sudoers:
    name: "{{ ansible_facts['user_id'] }}"
    user: "{{ ansible_facts['user_id'] }}"
    host: ALL
    commands: ALL
    nopassword: true
    state: present
    validation: "required"
- name: Set sudo permission
  become: true
  when: not no_sudo_pass
  community.general.sudoers:
    name: "{{ ansible_facts['user_id'] }}"
    user: "{{ ansible_facts['user_id'] }}"
    state: absent
